h1 {
    font-family: "Playfair Display";
    color: #EEEEEE;
    font-weight: bold;
    font-size:50px;
}

hr {
    border-color: #EEEEEE;
    width: 20%;
}

.bg-primary {
    background-color: transparent!important;
    border-color: #EEEEEE!important;
    color: #EEEEEE;
}

.bg-primary .header {
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: bold;;
}

.bg-primary .header2 {
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: normal;;
}

.bg-primary .body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.tab {
    text-indent: 6%;
}

.w-80 {
    width: 80%;
}

.icon-devpost
 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
    font-size: 30px;
}

.icon-devpost>svg
 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

.underline {
    text-decoration: underline;
}

.link {
    color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

footer {
    color: #EEEEEE;
}

.githublink {
    font-size: 29px;
}

.subheader {
    font-family: 'Open Sans';
    font-size: 15px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.underline {
    text-decoration: underline;
}

.subheader2 {
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    margin: 0;
    padding: 0;
}